﻿/*ZD 100147 Start*/
/* Copyright (C) 2015 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 ZD 100886 End*/
img[src="image/space.gif"] {
  display: block;
}
td[bgcolor="#000080"] img[src="image/space.gif"] {
  background-color: #cdcdcd;
}
#frmUserProfile {
  max-width: 1024px;
  margin: 0 auto;
}
.organizationName,
.userName {
  color: #cc0000;
}
.themeName {
  name: default;
}
a:active {
  font-weight: bold;
  font-size: 10pt;
  vertical-align: bottom;
  color: #3b73b9;
  font-family: Arial;
  text-decoration: none;
}
a:visited {
  font-weight: bold;
  font-size: 10pt;
  vertical-align: bottom;
  color: #3b73b9;
  font-family: Arial;
  text-decoration: none;
}
a:link {
  font-weight: bold;
  font-size: 10pt;
  vertical-align: bottom;
  color: #3b73b9;
  font-family: Arial;
  text-decoration: none;
}
body {
  background-color: #ffffff;
}
.treeNode {
  background-color: transparent;
  font-weight: bold;
}
.treeRootNode {
  background-color: transparent;
  font-weight: bold;
  border-style: none;
  color: #3b73b9;
}
.treeSelectedNode {
  background-color: #E0E0E0;
  border-style: Solid;
  border-color: Gray;
  border-width: 1px;
}
.treeParentNode {
  border-style: transparent;
  color: #404040;
  font-weight: bold;
}
.treeLeafNode {
  font-size: smaller;
}
.tabs {
  position: relative;
  left: 10px;
  font-family: Helvetica, Myriad Pro, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: black;
}
.tab {
  border-bottom: none;
  padding: 0px;
}
.tab td {
  vertical-align: middle;
}
.tab td div {
  width: 123px;
  /* FB 2050 */

  padding: 4px 0;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
}
.tab td div:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}
.tab td div:active {
  position: relative;
  top: 1px;
}
.tabs a:selected {
  font-family: Helvetica, Myriad Pro, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.selectedTab td div {
  width: 123px;
  /* FB 2050 */

  padding: 4px 0;
  -moz-box-shadow: inset 0px 1px 0px 0px #dbdbdb;
  -webkit-box-shadow: inset 0px 1px 0px 0px #dbdbdb;
  box-shadow: inset 0px 1px 0px 0px #dbdbdb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c0c1c2), color-stop(1, #949494));
  background: -moz-linear-gradient(center top, #c0c1c2 5%, #949494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c1c2', endColorstr='#949494');
  background-color: #c0c1c2;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #bfbfbf;
  border-bottom: 0;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 4px #949494;
}
.selectedTab td div:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #949494), color-stop(1, #c0c1c2));
  background: -moz-linear-gradient(center top, #949494 5%, #c0c1c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#949494', endColorstr='#c0c1c2');
  background-color: #949494;
}
.selectedTab td div:active {
  position: relative;
  top: 1px;
}
.selectedTab a {
  border-bottom: none;
  background: url(../../../../../image/tab-small-selected.png) no-repeat;
  background-position: top left;
  color: white;
  font-weight: bold;
  height: 35px;
  padding: 0px;
}
.tabContents {
  background: #f3f3f3 url('../../../../../image/adc-gray-bg-textured.png');
  padding: 7px;
}
.tabContents a {
  font-family: Helvetica, Myriad Pro, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #3b73b9;
  text-decoration: none;
}
.tabContents a:visited {
  font-family: Helvetica, Myriad Pro, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #3b73b9;
  text-decoration: none;
}
.tabContents a:hover {
  font-family: Helvetica, Myriad Pro, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #3b73b9;
  text-decoration: underline;
}
.tabContents a:active {
  font-family: Helvetica, Myriad Pro, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #3b73b9;
  text-decoration: underline;
}
.lblError {
  background-color: transparent;
  color: #cc0000;
  font-weight: bold;
  font-size: 12;
  padding: 2px 1px 2px 1px;
  border: inherit;
}
.selectedColumn {
  background-color: #86c328;
  color: Yellow;
  font-weight: bold;
  border-color: #86c328;
  border-bottom: #86c328 1px solid;
  border-left: #86c328 1px solid;
  border-top: #86c328 1px solid;
  border-right: #86c328 1px solid;
}
.tableHeader {
  background-color: #a1a1a1;
  color: #000000;
  font-weight: bold;
  border-color: black;
  border-bottom: black 2px;
  border-left: black 2px;
  border-top: black 2px;
  border-right: black 2px;
}
.tableBody {
  background-color: #e1e1e1;
  color: #000000;
  height: 25px;
  cellspacing: 0px;
  cellpadding: 0px;
}
.PortletHeader {
  background: url(../../../../../image/tableheader.png) no-repeat 100% 100%;
  color: #000000;
  font-weight: bold;
  vertical-align: top;
}
.LinksHeader {
  background: url(../../../../../image/linksheader.png) no-repeat 100% 100%;
  color: #000000;
  font-weight: bold;
  vertical-align: top;
  height: 30px;
}
.altColoredBackground {
  background-color: #86c328;
}
a.s:link {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #efd7ef;
  font-family: Arial;
  text-decoration: none;
}
a.s:visited {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #efd7ef;
  font-family: Arial;
  text-decoration: none;
}
a.s:active {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #efd7ef;
  font-family: Arial;
  text-decoration: none;
}
a.s:hover {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #ff3300;
  font-family: Arial;
  text-decoration: none;
}
a.s2 {
  font-weight: bold;
  font-size: 10pt;
  color: gray;
  font-family: Arial;
  text-decoration: none;
}
a.sb1:link {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: purple;
  font-family: Arial;
  text-decoration: none;
}
a.sb1:visited {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: purple;
  font-family: Arial;
  text-decoration: none;
}
a.sb1:active {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: purple;
  font-family: Arial;
  text-decoration: none;
}
a.sb1:hover {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #ff3300;
  font-family: Arial;
  text-decoration: none;
}
a.sb2:link {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: black;
  font-family: Arial;
  text-decoration: none;
}
a.sb2:visited {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: black;
  font-family: Arial;
  text-decoration: none;
}
a.sb2:active {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: black;
  font-family: Arial;
  text-decoration: none;
}
a.sb2:hover {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #ff3300;
  font-family: Arial;
  text-decoration: none;
}
a.t:link {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #fff7ce;
  font-family: Arial;
  text-decoration: none;
}
a.t:visited {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #fff7ce;
  font-family: Arial;
  text-decoration: none;
}
a.t:active {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #fff7ce;
  font-family: Arial;
  text-decoration: none;
}
a.t:hover {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #ff3300;
  font-family: Arial;
  text-decoration: none;
}
a.tb:link {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: orange;
  font-family: Arial;
  text-decoration: none;
}
a.tb:visited {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: orange;
  font-family: Arial;
  text-decoration: none;
}
a.tb:active {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: orange;
  font-family: Arial;
  text-decoration: none;
}
a.tb:hover {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #ff3300;
  font-family: Arial;
  text-decoration: none;
}
a.fb:link {
  font-weight: bold;
  font-size: 11pt;
  vertical-align: bottom;
  color: #00ff33;
  font-family: Century Gothic, Arial;
  text-decoration: none;
}
a.fb:visited {
  font-weight: bold;
  font-size: 11pt;
  vertical-align: bottom;
  color: #00ff33;
  font-family: Century Gothic, Arial;
  text-decoration: none;
}
a.fb:active {
  font-weight: bold;
  font-size: 11pt;
  vertical-align: bottom;
  color: #00ff33;
  font-family: Century Gothic, Arial;
  text-decoration: none;
}
a.fb:hover {
  font-weight: bold;
  font-size: 10pt;
  vertical-align: bottom;
  color: #ccff00;
  font-style: italic;
  font-family: Arial, Century Gothic;
  text-decoration: none;
}
a.e:link {
  font-weight: bold;
  font-size: 7pt;
  vertical-align: bottom;
  text-transform: uppercase;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
a.e:visited {
  font-weight: bold;
  font-size: 7pt;
  vertical-align: bottom;
  text-transform: uppercase;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
a.e:active {
  font-weight: bold;
  font-size: 7pt;
  vertical-align: bottom;
  text-transform: uppercase;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
a.e:hover {
  font-weight: bold;
  font-size: 7pt;
  vertical-align: bottom;
  text-transform: uppercase;
  color: #ff3300;
  font-family: Arial, Helvetica;
}
a.callink:visited {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #009900;
  font-family: Arial;
  text-decoration: none;
}
a.callink:active {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: #009900;
  font-family: Arial;
  text-decoration: none;
}
a.callink:hover {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  color: darkgreen;
  font-family: Arial;
  text-decoration: underline;
}
a.tl:link {
  font-weight: bold;
  font-size: 9pt;
  vertical-align: bottom;
  color: black;
  font-family: Tahoma, Arial;
  text-decoration: none;
}
a.tl:visited {
  font-weight: bold;
  font-size: 9pt;
  vertical-align: bottom;
  color: black;
  font-family: Tahoma, Arial;
  text-decoration: none;
}
a.tl:active {
  font-weight: bold;
  font-size: 9pt;
  vertical-align: bottom;
  color: black;
  font-family: Tahoma, Arial;
  text-decoration: none;
}
a.tl:hover {
  font-weight: bold;
  font-size: 9pt;
  vertical-align: bottom;
  color: #ff3300;
  font-family: Tahoma, Arial;
  text-decoration: none;
}
a.sttitlelink:link {
  font-weight: bold;
  font-size: 7pt;
  text-transform: uppercase;
  color: black;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
}
a.sttitlelink:visited {
  font-weight: bold;
  font-size: 7pt;
  text-transform: uppercase;
  color: black;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
}
a.sttitlelink:active {
  font-weight: bold;
  font-size: 7pt;
  text-transform: uppercase;
  color: black;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
  text-decoration: underline;
}
a.sttitlelink:hover {
  font-weight: bold;
  font-size: 7pt;
  text-transform: uppercase;
  color: lightblue;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
}
.iframe {
  scrollbar-face-color: magenta;
}
h3 {
  font-size: 16pt;
  margin: 0px 5px 2px;
  color: #173159;
  font-family: Arial;
  text-align: center;
}
.lblMessage {
  background-color: transparent;
  color: #006400;
  font-weight: bold;
  font-size: 12;
  padding: 2px 1px 2px 1px;
  border: inherit;
}
h6 {
  font-size: 12pt;
  color: black;
  font-family: Arial;
}
h7 {
  font-size: 12pt;
  color: black;
  font-family: Arial;
}
td {
  font-size: 10pt;
  color: black;
  font-family: Arial;
}
label {
  font-weight: bold;
  font-size: 10pt;
  vertical-align: top;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.short3TextareaFormat {
  width: 120px;
}
.short4TextareaFormat {
  width: 115px;
}
.short2TextareaFormat {
  width: 170px;
}
.shortTextareaFormat {
  width: 193px;
}
.longTextareaFormat {
  width: 400px;
}
.disabledShort1TextareaFormat {
  width: 160px;
}
.disabledShort2TextareaFormat {
  width: 180px;
}
.disabledShort8TextareaFormat {
  width: 12px;
}
.disabled8TextareaFormat {
  width: 250px;
}
.disabledShortTextareaFormat {
  width: 335px;
}
.disabledTextareaFormat {
  width: 720px;
}
.disabledWhiteShortTextareaFormat {
  width: 410px;
}
.disabledWhiteTextareaFormat {
  width: 500px;
}
.TestInXMLTextareaFormat {
  width: 700px;
}
.normalFormat {
  border-right: 1px outset;
  border-top: 1px outset;
  border-left: 1px outset;
  border-bottom: 1px outset;
  background-color: transparent;
}
.altMedium0BlueButtonFormat
{
   outline : none;
  -moz-box-shadow: inset 0px 0px 0px 0px #404040;
  -webkit-box-shadow: inset 0px 0px 0px 0px #404040;
  box-shadow: inset 0px 0px 0px 0px #404040;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D8D8D8 ), color-stop(1, #888888));
  background: -moz-linear-gradient(center top, #D8D8D8 5%, #888888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8', endColorstr='#888888');
  background-color: #888888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #606060;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;  
  text-decoration: none;
  text-shadow: 2px 2px 3px #606060;
  cursor: pointer;
  width:100pt;white-space:normal;  
  height:26px;
  
}
.altLong10BlueButtonFormat,
.altLong3BlueButtonFormat,
.altLong3BlueButtonDisabled,
.altLong2BlueButtonFormat,
.altLong1BlueButtonFormat,
.altLongBlueButtonFormat,
.altLongBlueButtonDisabled,
.altLongYellowButtonFormat,
.altLongSmallButtonFormat,
.altLong1YellowButtonFormat{
  outline: none;
  -moz-box-shadow: inset 0px 0px 0px 0px #404040;
  -webkit-box-shadow: inset 0px 0px 0px 0px #404040;
  box-shadow: inset 0px 0px 0px 0px #404040;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D8D8D8), color-stop(1, #888888));
  background: -moz-linear-gradient(center top, #D8D8D8 5%, #888888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8', endColorstr='#888888');
  background-color: #888888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #606060;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 3px #606060;
  cursor: pointer;
  width:150pt;
  white-space:normal;
  height:26px;
}
.altButtonFormat,
.normalButtonFormat,
.altixsButtonFormat,
.altBlueButtonFormat,
.altBlueButtonDisabled,
.altShort0BlueButtonFormat,
.altShort1BlueButtonFormat,
.altShortBlueButtonFormat,
.altShort4BlueButtonFormat,
.altShort5BlueButtonFormat,
.altShort6BlueButtonFormat,
.altShort7BlueButtonFormat,
.altShort8BlueButtonFormat,
.altShort2BlueButtonFormat,
.altshort3Bluebuttonformat,
.altShortYellowButtonFormat,
.altYellowButtonFormat,
.altshort3Bluebuttondisabled{
   outline : none;
  -moz-box-shadow: inset 0px 0px 0px 0px #404040;
  -webkit-box-shadow: inset 0px 0px 0px 0px #404040;
  box-shadow: inset 0px 0px 0px 0px #404040;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D8D8D8), color-stop(1, #888888));
  background: -moz-linear-gradient(center top, #D8D8D8 5%, #888888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8', endColorstr='#888888');
  background-color: #888888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #606060;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 3px #606060;
  cursor: pointer;
  width:50pt;white-space:normal;
  height:26px;  
}
.altRedButtonFormat,

.altDarkBlueSButtonFormat {
  outline: none;
  -moz-box-shadow: inset 0px 0px 0px 0px #404040;
  -webkit-box-shadow: inset 0px 0px 0px 0px #404040;
  box-shadow: inset 0px 0px 0px 0px #404040;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D8D8D8), color-stop(1, #888888));
  background: -moz-linear-gradient(center top, #D8D8D8 5%, #888888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8', endColorstr='#888888');
  background-color: #888888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #606060;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 24px;
  text-decoration: none;
  text-shadow: 2px 2px 3px #606060;
  cursor: pointer;
  height:26px;
}
.altMedium0BlueButtonFormat:hover
{
   outline : none;
  -moz-box-shadow: inset 0px 0px 0px 0px #404040;
  -webkit-box-shadow: inset 0px 0px 0px 0px #404040;
  box-shadow: inset 0px 0px 0px 0px #404040;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #888888), color-stop(1, #D8D8D8));
  background: -moz-linear-gradient(center top, #888888 5%, #D8D8D8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#D8D8D8');
  background-color: #888888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #606060;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;  
  text-decoration: none;
  text-shadow: 2px 2px 3px #606060;
  cursor: pointer;
  width:100pt;white-space:normal;
  height:26px;
}
.altButtonFormat:hover,
.normalButtonFormat:hover,
.altixsButtonFormat:hover,
.altLongSmallButtonFormat:hover,
.altLong10BlueButtonFormat:hover,
.altLong3BlueButtonFormat:hover,
.altLong3BlueButtonDisabled:hover,
.altLong2BlueButtonFormat:hover,
.altLong1BlueButtonFormat:hover,
.altLongBlueButtonFormat:hover,
.altLongBlueButtonDisabled:hover,
.altLongYellowButtonFormat:hover,
.altLong1YellowButtonFormat:hover{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #888888), color-stop(1, #D8D8D8));
  background: -moz-linear-gradient(center top, #888888 5%, #D8D8D8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#D8D8D8');
  background-color: #D8D8D8;width:150pt;white-space:normal;
  height:26px;
}
.altBlueButtonFormat:hover,
.altBlueButtonDisabled:hover,
.altShort0BlueButtonFormat:hover,
.altShort1BlueButtonFormat:hover,
.altShortBlueButtonFormat:hover,
.altShort4BlueButtonFormat:hover,
.altShort5BlueButtonFormat:hover,
.altShort6BlueButtonFormat:hover,
.altShort7BlueButtonFormat:hover,
.altShort8BlueButtonFormat:hover,
.altShort2BlueButtonFormat:hover,
.altshort3Bluebuttonformat:hover,
.altshort3Bluebuttondisabled:hover{
   outline : none;
  -moz-box-shadow: inset 0px 0px 0px 0px #404040;
  -webkit-box-shadow: inset 0px 0px 0px 0px #404040;
  box-shadow: inset 0px 0px 0px 0px #404040;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #888888), color-stop(1, #D8D8D8));
  background: -moz-linear-gradient(center top, #888888 5%, #D8D8D8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#D8D8D8');
  background-color: #888888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #606060;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 3px #606060;
  cursor: pointer;
  width:50pt;white-space:normal;
  height:26px;
}
.altRedButtonFormat:hover,
.altShortYellowButtonFormat:hover,
.altYellowButtonFormat:hover,

.altDarkBlueSButtonFormat:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #888888), color-stop(1, #D8D8D8));
  background: -moz-linear-gradient(center top, #888888 5%, #D8D8D8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#D8D8D8');
  background-color: #D8D8D8;
  height:26px;
}
.altMedium0BlueButtonFormat:active
{
   outline : none;
  -moz-box-shadow: inset 0px 0px 0px 0px #404040;
  -webkit-box-shadow: inset 0px 0px 0px 0px #404040;
  box-shadow: inset 0px 0px 0px 0px #404040;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D8D8D8), color-stop(1, #888888));
  background: -moz-linear-gradient(center top, #D8D8D8 5%, #888888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8', endColorstr='#888888');
  background-color: #888888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #606060;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;  
  text-decoration: none;
  text-shadow: 2px 2px 3px #606060;
  cursor: pointer;
  width:100pt;white-space:normal;
  height:26px;
}
.altButtonFormat:active,
.normalButtonFormat:active,
.altixsButtonFormat:active,
.altLongSmallButtonFormat:active,
.altLong10BlueButtonFormat:active,
.altLong3BlueButtonFormat:active,
.altLong3BlueButtonDisabled:active,
.altLong2BlueButtonFormat:active,
.altLong1BlueButtonFormat:active,
.altLongBlueButtonFormat:active,
.altLongBlueButtonDisabled:active,
.altLongYellowButtonFormat:active,
.altLong1YellowButtonFormat:active{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D8D8D8), color-stop(1, #888888));
  background: -moz-linear-gradient(center top, #D8D8D8 5%, #888888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8', endColorstr='#888888');
  background-color: #D8D8D8;
  width:150pt;white-space:normal;
  height:26px;
}
.altBlueButtonFormat:active,
.altBlueButtonDisabled:active,
.altShort0BlueButtonFormat:active,
.altShort1BlueButtonFormat:active,
.altShortBlueButtonFormat:active,
.altShort4BlueButtonFormat:active,
.altShort5BlueButtonFormat:active,
.altShort6BlueButtonFormat:active,
.altShort7BlueButtonFormat:active,
.altShort8BlueButtonFormat:active,
.altShort2BlueButtonFormat:active,
.altshort3Bluebuttonformat:active,
.altShortYellowButtonFormat:active,
.altshort3Bluebuttondisabled:active{
   outline : none;
  -moz-box-shadow: inset 0px 0px 0px 0px #404040;
  -webkit-box-shadow: inset 0px 0px 0px 0px #404040;
  box-shadow: inset 0px 0px 0px 0px #404040;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D8D8D8), color-stop(1, #888888));
  background: -moz-linear-gradient(center top, #D8D8D8 5%, #888888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8', endColorstr='#888888');
  background-color: #888888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #606060;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 3px #606060;
  cursor: pointer;
  width:50pt;white-space:normal;
  height:26px;
}
.altRedButtonFormat:active,

.altYellowButtonFormat:active,
.altDarkBlueSButtonFormat:active {
  position: relative;
  top: 1px;
}
.altLong1SelectFormat {
  width: 320px;
}
.altLongSelectFormat {
  width: 250px;
}
.altLong0SelectFormat {
  width: 215px;
}
.alt2SelectFormat {
  width: 120px;
}
.altlSelectFormat {
  width: 166px;
}
.altSelectFormat {
  width: 172px;
}
.altSmall0SelectFormat {
  width: 110px;
}
.altSmallSelectFormat {
  width: 95px;
}
.SelectFormat {
  width: 158px;
}
.altShort1SelectFormat {
  width: 81px;
}
.altShortSelectFormat {
  width: 80px;
}
.bigblueblodtext {
  margin-top: 10pt;
  font-weight: bold;
  font-size: 12pt;
  text-transform: capitalize;
  color: black;
  line-height: 20pt;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.blueblodtext {
  margin-top: 10pt;
  font-weight: bold;
  font-size: 11pt;
  text-transform: capitalize;
  color: black;
  line-height: 20pt;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.tabtext {
  font-weight: normal;
  font-size: 10pt;
  cursor: pointer;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: underline;
}
.subtitleblueblodtext {
  margin-top: 10pt;
  font-weight: bold;
  font-size: 11pt;
  color: #173159;
  line-height: 20pt;
  padding-top: 10pt;
  font-family: Arial;
  text-decoration: none;
}
.subtitlexxsblueblodtext {
  margin-top: 10pt;
  font-weight: bold;
  font-size: 11pt;
  color: #173159;
  line-height: 20pt;
  padding-top: 10pt;
  font-family: Arial;
  text-decoration: none;
}
.subtitle9bluetext {
  margin-top: 10pt;
  font-weight: normal;
  font-size: 11pt;
  color: #173159;
  line-height: 20pt;
  padding-top: 10pt;
  font-family: Arial;
  text-decoration: underline;
}
.tableblackblodtext {
  font-weight: bold;
  font-size: 10pt;
  text-transform: uppercase;
  color: black;
  padding-top: 10pt;
  font-family: Arial;
  text-decoration: none;
}
.tableblueblodlinktext {
  margin-top: 10pt;
  font-weight: bold;
  font-size: 7pt;
  vertical-align: bottom;
  text-transform: uppercase;
  color: black;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
  text-decoration: underline;
}
.tableblueblodtext {
  margin-top: 10pt;
  font-weight: bold;
  font-size: 7pt;
  text-transform: uppercase;
  color: black;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.tableblackblodlinktext {
  font-weight: bold;
  font-size: 10pt;
  text-transform: uppercase;
  color: black;
  padding-top: 10pt;
  font-family: Arial;
  text-decoration: none;
}
.contacttext {
  font-weight: normal;
  font-size: 7pt;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.numwhiteblodtext {
  margin-top: 10pt;
  font-weight: bold;
  font-size: 10pt;
  color: white;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.blackbigblodtext {
  font-weight: bold;
  font-size: 13pt;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.blackblodtext {
  font-weight: bold;
  font-size: 10pt;
  color: black;
  font-family: Arial;
  text-decoration: none;
}
.blacktext {
  font-size: 8pt;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.srcstext3 {
  font-size: 10pt;
  text-decoration: none;
}
.srcstext2 {
  font-size: 7pt;
  text-decoration: none;
}
.srcstext1 {
  font-size: 9pt;
  text-decoration: none;
}
.srcstext {
  font-size: 8pt;
  text-decoration: none;
}
.cmmttext {
  font-size: 8pt;
  color: black;
  font-style: italic;
  text-decoration: none;
}
.orangesboldtext {
  font-weight: bold;
  font-size: 8pt;
  color: #3c5c82;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.blackxxxsboldtext {
  font-weight: bold;
  font-size: 8pt;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.blackxxxstext {
  font-size: 8pt;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.blackItalictext {
  font-size: 10pt;
  color: black;
  font-style: italic;
  font-family: Arial;
  text-decoration: none;
}
.bigtext {
  font-weight: bold;
  font-size: 12pt;
  text-decoration: none;
}
.callinktext {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: bottom;
  font-family: Arial;
  text-decoration: none;
}
.lightgrayboldstext {
  font-weight: bold;
  font-size: 8pt;
  color: gray;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.lightgrayboldtext {
  font-weight: bold;
  font-size: 11pt;
  color: gray;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.reqfldText {
  font-size: 8pt;
  color: #cc0000;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.reqfldstarText {
  font-size: 8pt;
  color: #cc0000;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.cmtfldstarText {
  font-size: 8pt;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.summaryText {
  font-size: 10pt;
  font-weight: bold;
  color: #FF00FF;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.altText {
 BORDER-COLOR: #A7958B; 
 BORDER-RIGHT: #A7958B 1px inset;
 BORDER-TOP: #A7958B 1px inset; 
 FONT-SIZE: 12; 
 BORDER-LEFT: #A7958B 1px inset; 
 COLOR: #000000; 
 BORDER-BOTTOM: #A7958B 1px inset; 
 FONT-FAMILY: Arial; 
 BACKGROUND-COLOR: ghostwhite
}
.altTextareaFormat {
  border-right: black 1px inset;
  border-top: black 3px solid;
  font-size: 10pt;
  border-left: black 1px inset;
  color: black;
  border-bottom: black 3px solid;
  font-family: Arial;
  background-color: ghostwhite;
}
.para_small {
  font-size: 8pt;
  font-family: arial,helvetica;
}
UNKNOWN {
  border-right: #000 1px inset;
  border-top: #fff 1px inset;
  display: none;
  font-size: 11px;
  background: #d4d0c8;
  border-left: #fff 1px inset;
  cursor: default;
  color: #000;
  border-bottom: #000 1px inset;
  font-family: tahoma, Arial, sans-serif;
  position: relative;
}
.calendar table {
  border-right: #fff 1px solid;
  border-top: #000 1px solid;
  font-size: 11px;
  background: #d4d0c8;
  border-left: #000 1px solid;
  cursor: default;
  color: #000;
  border-bottom: #fff 1px solid;
  font-family: tahoma, Arial, sans-serif;
}
.calendar td {
  font-size: 8pt;
}
.calendar .button {
  border-right: #000 1px solid;
  padding-right: 1px;
  border-top: #fff 1px solid;
  padding-left: 1px;
  padding-bottom: 1px;
  border-left: #fff 1px solid;
  padding-top: 1px;
  border-bottom: #000 1px solid;
  text-align: center;
}
.calendar .nav {
  background: url(../image/calmenuarrow.gif) no-repeat 100% 100%;
}
.calendar thead .title {
  border-right: #000 1px solid;
  padding-right: 1px;
  border-top: #000 1px solid;
  padding-left: 1px;
  font-weight: bold;
  background: #848078;
  padding-bottom: 1px;
  border-left: #000 1px solid;
  color: #fff;
  padding-top: 1px;
  border-bottom: #000 1px solid;
  text-align: center;
}
.calendar thead .name {
  padding-right: 2px;
  padding-left: 2px;
  background: #f4f0e8;
  padding-bottom: 2px;
  padding-top: 2px;
  border-bottom: #000 1px solid;
  text-align: center;
}
.calendar thead .weekend {
  color: #f00;
}
.calendar thead .hilite {
  border-right: #000 1px inset;
  padding-right: 0px;
  border-top: #fff 1px inset;
  padding-left: 0px;
  padding-bottom: 0px;
  border-left: #fff 1px inset;
  padding-top: 0px;
  border-bottom: #000 1px inset;
  background-color: #e4e0d8;
}
.calendar thead .active {
  border-right: #fff 1px solid;
  padding-right: 0px;
  border-top: #000 1px solid;
  padding-left: 2px;
  padding-bottom: 0px;
  border-left: #000 1px solid;
  padding-top: 2px;
  border-bottom: #fff 1px solid;
  background-color: #c4c0b8;
}
.calendar tbody .day {
  padding-right: 4px;
  padding-left: 2px;
  padding-bottom: 2px;
  width: 2em;
  padding-top: 2px;
  text-align: right;
}
.calendar table .wn {
  border-right: #000 1px solid;
  padding-right: 3px;
  padding-left: 2px;
  background: #f4f0e8;
  padding-bottom: 2px;
  padding-top: 2px;
}
.calendar tbody .rowhilite td {
  background: #e4e0d8;
}
.calendar tbody .rowhilite td.wn {
  background: #d4d0c8;
}
.calendar tbody td.hilite {
  border-right: #000 1px solid;
  padding-right: 3px;
  border-top: #fff 1px solid;
  padding-left: 1px;
  padding-bottom: 1px;
  border-left: #fff 1px solid;
  padding-top: 1px;
  border-bottom: #000 1px solid;
}
.calendar tbody td.active {
  border-right: #fff 1px solid;
  padding-right: 2px;
  border-top: #000 1px solid;
  padding-left: 2px;
  padding-bottom: 0px;
  border-left: #000 1px solid;
  padding-top: 2px;
  border-bottom: #fff 1px solid;
}
.calendar tbody td.selected {
  border-right: #fff 1px solid;
  padding-right: 2px;
  border-top: #000 1px solid;
  padding-left: 2px;
  font-weight: bold;
  background: #e4e0d8;
  padding-bottom: 0px;
  border-left: #000 1px solid;
  padding-top: 2px;
  border-bottom: #fff 1px solid;
}
.calendar tbody td.weekend {
  color: #f00;
}
.calendar tbody td.today {
  font-weight: bold;
  color: #00f;
}
.calendar tbody .disabled {
  color: #999;
}
.calendar tbody .emptycell {
  visibility: hidden;
}
.calendar tbody .emptyrow {
  display: none;
}
.calendar tfoot .ttip {
  border-right: #000 1px solid;
  padding-right: 1px;
  border-top: #000 1px solid;
  padding-left: 1px;
  background: #848078;
  padding-bottom: 1px;
  border-left: #000 1px solid;
  color: #fff;
  padding-top: 1px;
  border-bottom: #000 1px solid;
  text-align: center;
}
.calendar tfoot .hilite {
  border-right: #000 1px solid;
  padding-right: 1px;
  border-top: #fff 1px solid;
  padding-left: 1px;
  background: #e4e0d8;
  padding-bottom: 1px;
  border-left: #fff 1px solid;
  padding-top: 1px;
  border-bottom: #000 1px solid;
}
.calendar tfoot .active {
  border-right: #fff 1px solid;
  padding-right: 0px;
  border-top: #000 1px solid;
  padding-left: 2px;
  padding-bottom: 0px;
  border-left: #000 1px solid;
  padding-top: 2px;
  border-bottom: #fff 1px solid;
}
.combo {
  border-right: #000 1px solid;
  padding-right: 1px;
  border-top: #fff 1px solid;
  display: none;
  padding-left: 1px;
  font-size: smaller;
  background: #e4e0d8;
  left: 0px;
  padding-bottom: 1px;
  border-left: #fff 1px solid;
  width: 4em;
  cursor: default;
  padding-top: 1px;
  border-bottom: #000 1px solid;
  position: absolute;
  top: 0px;
}
.combo .label {
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
  text-align: center;
}
.combo .label-IEfix {
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
  text-align: center;
}
.combo .label-IEfix {
  width: 4em;
}
.combo .active {
  border-right: #fff 1px solid;
  padding-right: 0px;
  border-top: #000 1px solid;
  padding-left: 0px;
  background: #c4c0b8;
  padding-bottom: 0px;
  border-left: #000 1px solid;
  padding-top: 0px;
  border-bottom: #fff 1px solid;
}
.combo .hilite {
  background: #048;
  color: #fea;
}
.calendar td.time {
  padding-right: 0px;
  border-top: #000 1px solid;
  padding-left: 0px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: #f4f0e8;
  text-align: center;
}
.calendar td.time .hour {
  border-right: #889 1px solid;
  padding-right: 3px;
  border-top: #889 1px solid;
  padding-left: 4px;
  font-weight: bold;
  padding-bottom: 0px;
  border-left: #889 1px solid;
  padding-top: 0px;
  border-bottom: #889 1px solid;
  background-color: #fff;
}
.calendar td.time .minute {
  border-right: #889 1px solid;
  padding-right: 3px;
  border-top: #889 1px solid;
  padding-left: 4px;
  font-weight: bold;
  padding-bottom: 0px;
  border-left: #889 1px solid;
  padding-top: 0px;
  border-bottom: #889 1px solid;
  background-color: #fff;
}
.calendar td.time .ampm {
  border-right: #889 1px solid;
  padding-right: 3px;
  border-top: #889 1px solid;
  padding-left: 4px;
  font-weight: bold;
  padding-bottom: 0px;
  border-left: #889 1px solid;
  padding-top: 0px;
  border-bottom: #889 1px solid;
  background-color: #fff;
}
.calendar td.time .ampm {
  text-align: center;
}
.calendar td.time .colon {
  padding-right: 2px;
  padding-left: 3px;
  font-weight: bold;
  padding-bottom: 0px;
  padding-top: 0px;
}
.calendar td.time SPAN.hilite {
  border-left-color: #000;
  border-bottom-color: #000;
  color: #fff;
  border-top-color: #000;
  background-color: #766;
  border-right-color: #000;
}
.calendar td.time SPAN.active {
  border-left-color: #f00;
  border-bottom-color: #f00;
  color: #0f0;
  border-top-color: #f00;
  background-color: #000;
  border-right-color: #f00;
}
td.celltitle {
  border-right: #888888 1px solid;
  padding-right: 2px;
  border-top: #888888 1px solid;
  padding-left: 2px;
  font-weight: bold;
  font-size: 7pt;
  padding-bottom: 2px;
  vertical-align: bottom;
  text-transform: uppercase;
  border-left: #888888 1px solid;
  color: black;
  padding-top: 2px;
  border-bottom: #888888 1px solid;
  font-family: Arial, helvetica;
  white-space: nowrap;
  border-collapse: collapse;
  background-color: transparent;
  text-align: center;
}
td.celltitle a {
  cursor: pointer;
  text-decoration: underline;
}
td.coloredcell {
  border-right: 0px;
  padding-right: 1px;
  border-top: 0px;
  padding-left: 1px;
  font-weight: normal;
  font-size: 10pt;
  padding-bottom: 1px;
  vertical-align: middle;
  border-left: 0px;
  color: black;
  padding-top: 1px;
  border-bottom: 0px;
  font-family: Arial, helvetica;
  background-color: #e0e0e0;
  text-align: center;
}
td.noncoloredcell {
  border-right: 0px;
  padding-right: 1px;
  border-top: 0px;
  padding-left: 1px;
  font-weight: normal;
  font-size: 10pt;
  padding-bottom: 1px;
  vertical-align: middle;
  border-left: 0px;
  color: black;
  padding-top: 1px;
  border-bottom: 0px;
  font-family: Arial, helvetica;
  background-color: transparent;
  text-align: center;
}
td.coloredcell-ifrm {
  border-right: 0px;
  padding-right: 1px;
  border-top: 0px;
  padding-left: 1px;
  font-weight: normal;
  font-size: 9pt;
  padding-bottom: 1px;
  vertical-align: middle;
  border-left: 0px;
  color: black;
  padding-top: 1px;
  border-bottom: 0px;
  font-family: Arial, helvetica;
  background-color: #e0e0e0;
  text-align: center;
}
td.noncoloredcell-ifrm {
  border-right: 0px;
  padding-right: 1px;
  border-top: 0px;
  padding-left: 1px;
  font-weight: normal;
  font-size: 9pt;
  padding-bottom: 1px;
  vertical-align: middle;
  border-left: 0px;
  color: black;
  padding-top: 1px;
  border-bottom: 0px;
  font-family: Arial, helvetica;
  background-color: transparent;
  text-align: center;
}
td.labelcell {
  text-align: right;
}
td.fieldcell {
  text-align: left;
}
.tabtabtreeNode {
  background-color: transparent;
  font-weight: bold;
  font-size: xx-small;
}
.tabtreeRootNode {
  background-color: transparent;
  font-weight: bold;
  border-style: none;
  color: #3b73b9;
  font-size: xx-small;
}
.tabtreeSelectedNode {
  background-color: #E0E0E0;
  border-style: Solid;
  border-color: Gray;
  border-width: 1px;
  font-size: xx-small;
}
.tabtreeParentNode {
  border-style: transparent;
  color: #404040;
  font-weight: bold;
  font-size: xx-small;
}
.tabtreeLeafNode {
  font-size: xx-small;
}
.blueblodtexthover {
  margin-top: 10pt;
  font-weight: bold;
  font-size: 7pt;
  color: black;
  line-height: 20pt;
  padding-top: 10pt;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.eventtext {
  font-weight: bold;
  font-size: 9pt;
  color: black;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
.tabContentshover {
  background-color: #f3f3f3;
  padding: 7px;
  color: black;
  z-index: 999;
}
.modalBackground {
  background-color: Gray;
  filter: alpha(opacity=70) !important;
  opacity: 0.7;
}
.rbroundbox {
  background: url(../../../../../image/nt.gif) repeat;
}
.rbtop div {
  background: url(../../../../../image/tl.gif) no-repeat top left;
}
.rbtop {
  background: url(../../../../../image/tr.gif) no-repeat top right;
}
.rbbot div {
  background: url(../../../../../image/bl.gif) no-repeat bottom left;
}
.rbbot {
  background: url(../../../../../image/br.gif) no-repeat bottom right;
}
.rbtop div,
.rbtop,
.rbbot div,
.rbbot {
  height: 7px;
  font-size: 1px;
}
.rbcontent {
  margin: margin: 0 7px;
}
.rbroundbox {
  margin: margin: 1em auto;
}
a.SelectedItem:link,
a.SelectedItem:visited {
  color: #000000;
}
a.SelectedItem:hover {
  color: #888888;
}
a.SelectedItem:active {
  color: #ffffff;
  background-color: #ACBACC;
}
.cellbackcolor {
  color: #ffffff;
  background-color: #ACBACC;
}
.templateTable {
  border-collapse: collapse;
  background-color: #F3F8F7;
}
.templateTable td {
  border: Solid 1px #C2D4DA;
}
.templateCaption {
  background-color: #ECF2F3;
}
.DashBoardHeader {
  background-color: #a1a1a1;
  font-weight: bold;
  color: #000000;
  font-family: Arial;
  border-color: #a1a1a1;
  border-bottom: #a1a1a1 1px solid;
  border-left: #a1a1a1 1px solid;
  border-top: #a1a1a1 1px solid;
  border-right: #a1a1a1 1px solid;
}
.DashBoardGridHeader {
  background-color: #a1a1a1;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  font-family: Calibri;
  height: 1px;
  border-color: #a1a1a1;
  border-bottom: #a1a1a1 1px solid;
  border-left: #a1a1a1 1px solid;
  border-top: #a1a1a1 1px solid;
  border-right: #a1a1a1 1px solid;
}
.DashBoardGridItem {
  background-color: #f1f1f1;
  font-size: 10px;
  font-family: Calibri;
}
.DashBoardGridItemAlternating {
  background-color: #F0F8FF;
  font-size: 5px;
  font-family: Calibri;
}
.DashBackGround {
  background-color: #f1f1f1;
}
.DashboardText {
  font-weight: bold;
  font-size: 10pt;
  color: #000000;
  font-family: Arial;
  text-decoration: none;
}
.DevXGrid {
  vertical-align: middle;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  color: green;
}
.btndisable
 {
 FONT-WEIGHT: bold; 
 FONT-SIZE: 10pt; 
 CURSOR: pointer; 
 COLOR: #808080; 
 BORDER-BOTTOM: blue 0px solid;
 FONT-FAMILY: Arial; 
 HEIGHT: 26px; 
 BACKGROUND-COLOR:#888888;
 text-shadow : 1px 1px #FFFFFF;
 border-color:Transparent;
 border-style:dotted;
 background-image:url(../../image/shade.png);
 background-position: bottom; 
 border-width : 0px 1px 0px 1px ;
 box-shadow: inset 0px 0px 0px 0px #404040;
 -moz-box-shadow: inset 0px 0px 0px 0px #404040;
 -webkit-box-shadow: inset 0px 0px 0px 0px #404040;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8', endColorstr='#888888');
 background: -moz-linear-gradient(center top, #D8D8D8 5%, #888888 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D8D8D8 ), color-stop(1, #888888));
 border-radius: 3px;
 border: 1px solid #606060;
   }