﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="en_PrintUtil" %>

<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
	<tr>
		<td align="center">
			<asp:Table Width="100%" CellPadding="3" CellSpacing="1" BorderStyle="Solid" BorderColor="Black" BorderWidth="1" ID="TablePrint" Runat="server">
    
			</asp:Table>
		</td>
	</tr>
</table>
